# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
env/

# Logs
*.log

# Local databases
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Node dependencies
node_modules/

# Secrets
secrets.json
*.key
*.pem
.venv/